Example/
input/
MACOSX/
zip-files/
bucket_attempt.ipynb
gcloudcommands.ipynb
M4-FP-Amazon-Submission-with-notes-for-me.ipynb
pip-commands-used.ipynb
AutoRecovery save of Document1.asd.docx
Kaggle-planet-test-tif.torrent
Kaggle-planet-train-tif.torrent
libraries.txt
Notes.md
planet_data-Copy.npz
planet_data.npz
sample_submission_v2.csv
test-jpg-additional.tar.7z
test-jpg.tar.7z
test-tif-v2.tar.7z
test_v2_file_mapping.csv